# Core functionality - changes here should be rare!
/src/app.py                   @realspaceeagle
/src/backend/database.py      @realspaceeagle
/src/backend/routers/auth.py  @realspaceeagle

# The frontend will need refactored soon to be more object oriented.
/src/static/   @realspaceeagle
